*{
    background-color:lightblue;
}

#logo {
    border:3px solid mediumblue;
    border-radius:280px;
    max-width:160px;
}

.sidebar a{
    font-size: 18px;
    text-decoration:none;
    color:white;
}